{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<form method="post">
    <div class='error_login'>
        {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        {% if app.user %}
            <div class="mb-3">
                You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
            </div>
        {% endif %}

        {% if app.user %}
        {%  set id=  app.user.id %}
        <p>{{id}}</p>
                
        {% endif %}

    </div>
    

    <div class='signIn'>
        <div class='signIn_div'>
            <h1 class="h3 mb-3 font-weight-normal">Iniciar sesión</h1>
            <label for="inputEmail" class='signIn_label'>Email</label>
            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
            <label for="inputPassword" class='signIn_label'>Password</label>
            <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

            <input type="hidden" name="_csrf_token"
                value="{{ csrf_token('authenticate') }}"
            >
            
            <button class="btn btn-lg btn-primary" type="submit">
                Entrar
            </button>
            
            

            <div>
                <p>¿No estás registrado? </p>
                <a href="{{path('app_register')}}">Regístrate aquí.</a>
            </div>

        </div>
        

    </div>

    
</form>


{% endblock %}
