{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
    {% if app.user %}
    {%  set id=  app.user.id %}          
    {% endif %}
    <div class="centrate">
        <a href="{{ path('getTodo', {'id': id}) }}" class="btn btn-primary enviar">Tareas</a>
        <a href="{{ path('getTodo', {'id': id}) }}" class="btn btn-primary enviar">Calendario</a>
    </div>


{% endblock %}