@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');



body{
    background-color: #F4F4F8 ;
    font-family: 'Amatic SC', cursive;
}
.header{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    
}

.header_div{
    width: 95vw;
    background-color: #5A7D7C;
    border-radius: 10px;
}
.header_h2{
    font-size: 4.5rem;
    text-align: center;
    text-decoration: none;
    color: white;
}

.log-out{
    /* display: flex;
    justify-content: right;
    align-items: center; */
    position: absolute;
    top:3vh;
    right: 20px;

}

.log-out__a{
    text-decoration: none;
    font-size: 3rem;
    color: white;
    padding-right: 10px;
}

.error_login{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    font-size: 3rem;
}

.signIn{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    
}

.signIn_div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 80vw;
    background-color: #E6E6EA;
    border-radius: 10px;
    text-align: center;
    margin-top: 4vh;
}

.signIn_label{
    font-size: 3.4rem;
}

.form-control{
    width: 60vw;
    border:0;
    border-bottom:1px solid black;
    background-color:#E6E6EA ;
    margin-top:2vh;
    margin-bottom: 2vh;
    font-size: 2.5rem;
    font-family: 'Amatic SC', cursive; 
}

.btn.btn-lg.btn-primary{
    margin-top: 2vh;
    margin-bottom: 2vh;
    background-color: #232C33 ;
    color: white;
    padding:5px 15px;
    border-radius: 5px;
    font-size: 4.4rem;
    font-family: 'Amatic SC', cursive;
}



.todo{
    font-size: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.done_items{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.done{
    text-decoration: line-through;
}

.todo_item{
    display: inline;
    
}

.btn.btn-primary{
    text-decoration: none;
    color: black;
    display: inline;

}
.btn.btn-primary.enviar{
    text-decoration: none;
    font-size: 3rem;
    border:0;
    border-radius: 20px;
    background-color: cadetblue;
    font-family:'Amatic SC', cursive;
    padding: 5px 10px;
    color: white;
    width:fit-content;
    margin-right: 20px;
}

.form_todo{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.required{
    font-size: 3rem;
}

.btn-createTodo{
    font-size: 3rem;
    border:0;
    border-radius: 20px;
    background-color: cadetblue;
    font-family:'Amatic SC', cursive;
    padding: 5px 10px;
    color: white;
    
}

.container_btn-createTodo{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.centrate{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}