{% extends 'base.html.twig' %}

{% block title %}Registro{% endblock %}

{% block body %}
<form method="post">

    <div class='signIn'>
        <div class='signIn_div'>
    
            <h1 class="h3 mb-3 font-weight-normal">Regístrate</h1>
            <label for="inputEmail" class='signIn_label'>Email</label>
            <input type="email"  name="email"  class="form-control" autocomplete="email" required autofocus>
            <label for="inputPassword" class='signIn_label'>Password</label>
            <input type="password" name="password"  class="form-control" autocomplete="current-password" required>
            <label for="inputPassword" class='signIn_label'>Repite Password</label>
            <input type="password" name="password2" class="form-control" autocomplete="current-password" required>

            <input type="submit" value="Registrar" class="btn btn-lg btn-primary">

        </div>

        

    </div>

    
</form>
{% endblock %}
