{% extends 'base.html.twig' %}

{% block body %}

    
    {{ form_start(Form) }}
    <div class='row'>
        <div class='col'>
            {{ form_row(Form.description,{
                label:''
            }) }}
        </div>
    </div>
    <div class='row'>
        <div class='col'>
            {{ form_row(Form.deadline, {
                label: 'Fecha límite'
            }) }}
        </div>
    </div>
    
    
    <div class='container_btn-createTodo'>
        <button type="submit" class="btn-createTodo">Guardar</button>
    </div>
    
    {{ form_end(Form) }}
   
    

    
{% endblock %}