{% extends 'base.html.twig' %}

{% block title %}Lista de Tareas{% endblock %}

{% block body %}

<div class='todo'>

    {% if app.user %}
    {%  set id=  app.user.id %}
            
    {% endif %}
    <h2>Todo</h2>

    {% for item in todo %}
    <div>
        {% if item.done == false %}
        <p class='todo_item'>{{item.description}}</p>
            {% if item.deadline %}
            <span>{{item.deadline|date('Y-m-d')}}</span>
            {% endif %}
            <a href="{{ path('doneTodo', {'id': item.id}) }}" class="btn btn-primary">✔</a>
            <a href="{{ path('updateTodo', {'id': item.id}) }}" class="btn btn-primary">✏</a>
            <a href="{{ path('deleteTodo', {'id': item.id}) }}" class="btn btn-primary">✖</a>
        {% endif %}

    </div>
        
    {% endfor %}

    <h2>Done</h2>

    {% for item in todo %}
        {% if item.done  %}
        <div class="done_items">
            <p class='done'>{{item.description}}</p>
            <a href="{{ path('deleteTodo', {'id': item.id}) }}" class="btn btn-primary">✖</a>

        </div>
        
        {% endif %}
    {% endfor %}

</div>

<div class='centrate'>
    <a href="{{ path('createTodo') }}" class="btn btn-primary enviar">Añadir tarea</a>
</div>



{% endblock %}
