<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            {#{{ encore_entry_link_tags('app') }}#}
        {% endblock %}
        <link rel="stylesheet" href="/css/styles.css">
        {% block javascripts %}
            {#{{ encore_entry_script_tags('app') }}#}
        {% endblock %}
    </head>
    <body>
        <header class='header'>
            <div class='header_div'>
                <a href="{{ path('home') }}"><h2 class='header_h2' style='text-decoration:none'>WorkCore</h2></a>
                
                {% if app.user %}
                <div class="log-out">
                    <a href="{{ path('app_logout') }}" class='log-out__a'>Logout</a>
                </div>
                {% endif %}
            </div>
            
            

        </header>
        {% block body %}{% endblock %}
    </body>
</html>
